/*
 * Copyright (c) 2018-2021, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
#include <t19x-common-modules/tegra194-camera-imx390-a00_otocam.dtsi>
#include "dt-bindings/clock/tegra194-clock.h"

#define CAM0_RST_L	TEGRA194_MAIN_GPIO(H, 3)
#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)

/* camera control gpio definitions */

/ {
	i2c@3180000 {
		tca9543@72 {
			compatible = "nxp,pca9543";
			reg = <0x72>;
			#address-cells = <1>;
			#size-cells = <0>;
			skip_mux_detect = "yes";
			vif-supply = <&p2822_vdd_1v8_cvb>;
			vcc-supply = <&p2822_vdd_1v8_cvb>;
			vcc-pullup-supply = <&battery_reg>;
			force_bus_start = <CAMERA_I2C_MUX_BUS(0)>;

			i2c@0 {
				reg = <0>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				dser: max9296@48 {
					compatible = "maxim,max9296";
					streams = "yuv8";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					fsync-gpio = <6>; //fsync gpio on 9296
					//reset-gpios = <&tegra_main_gpio CAM0_RST_L GPIO_ACTIVE_HIGH>;
				};
				ser_prim: max9295_prim@62 {
					compatible = "maxim,max9295";
					reg = <0x62>;
					is-prim-ser;
				};
				ser_a: max9295_a@40 {
					compatible = "maxim,max9295";
					reg = <0x40>;
					nvidia,gmsl-dser-device = <&dser>;
				};
				ser_b: max9295_b@60 {
					compatible = "maxim,max9295";
					reg = <0x60>;
					nvidia,gmsl-dser-device = <&dser>;
				};
				cam_0: imx390@10 {
					reg = <0x10>;
					reg_mux = <0>;	
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA194_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_a>;
					nvidia,gmsl-dser-device = <&dser>;
				};
				cam_1: imx390@11 {
					reg = <0x11>;
					reg_mux = <1>;	
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA194_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_b>;
					nvidia,gmsl-dser-device = <&dser>;
				};
			};
			i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				dsera: max9296@48 {
					compatible = "maxim,max9296";
					//streams = "yuv8";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					//reset-gpios = <&tegra_main_gpio CAM1_PWDN GPIO_ACTIVE_HIGH>;
                                       fsync-gpio = <6>; //fsync gpio on 9296
				};
				ser_prima: max9295_prim@62 {
					compatible = "maxim,max9295";
					//streams = "yuv8";
					reg = <0x62>;
					is-prim-ser;
				};
				ser_c: max9295_a@40 {
					compatible = "maxim,max9295";
					reg = <0x40>;
					nvidia,gmsl-dser-device = <&dsera>;
				};
				ser_d: max9295_b@60 {
					compatible = "maxim,max9295";
					reg = <0x60>;
					nvidia,gmsl-dser-device = <&dsera>;
				};
				cam_2: imx390@12 {
					reg = <0x12>;
					reg_mux = <2>;	
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA194_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_c>;
					nvidia,gmsl-dser-device = <&dsera>;
				};
				cam_3: imx390@13 {
					reg = <0x13>;
					reg_mux = <3>;	
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA194_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_d>;
					nvidia,gmsl-dser-device = <&dsera>;
				};
			};

		};
		tca9543@73 {
			compatible = "nxp,pca9543";
			reg = <0x73>;
			#address-cells = <1>;
			#size-cells = <0>;
			skip_mux_detect = "yes";
			vif-supply = <&p2822_vdd_1v8_cvb>;
			vcc-supply = <&p2822_vdd_1v8_cvb>;
			vcc-pullup-supply = <&battery_reg>;
			force_bus_start = <CAMERA_I2C_MUX_BUS(2)>;
			i2c@0 {
				reg = <0>;
				i2c-mux,deselect-on-exit;
				address-cells = <1>;
				#size-cells = <0>;
				dserb: max9296@48 {
					compatible = "maxim,max9296";
					//streams = "yuv8";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					//reset-gpios = <&tegra_main_gpio CAM2_PWDN GPIO_ACTIVE_HIGH>;
                                       fsync-gpio = <6>; //fsync gpio on 9296
				};
				ser_primb: max9295_prim@62 {
					compatible = "maxim,max9295";
					//streams = "yuv8";
					reg = <0x62>;
					is-prim-ser;
				};
				ser_e: max9295_a@40 {
					compatible = "maxim,max9295";
					reg = <0x40>;
					nvidia,gmsl-dser-device = <&dserb>;
				};
				ser_f: max9295_b@60 {
					compatible = "maxim,max9295";
					reg = <0x60>;
					nvidia,gmsl-dser-device = <&dserb>;
				};
				cam_4: imx390@14 {
					reg = <0x14>;
					reg_mux = <4>;	
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA194_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_e>;
					nvidia,gmsl-dser-device = <&dserb>;
				};
				cam_5: imx390@15 {
					reg = <0x15>;
					reg_mux = <5>;	
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA194_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_f>;
					nvidia,gmsl-dser-device = <&dserb>;
				};
			};
			i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				dserc: max9296@48 {
					compatible = "maxim,max9296";
					//streams = "yuv8";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					//reset-gpios = <&tegra_main_gpio CAM3_PWDN GPIO_ACTIVE_HIGH>;
                                       fsync-gpio = <6>; //fsync gpio on 9296
				};
				ser_primc: max9295_prim@62 {
					compatible = "maxim,max9295";
					//streams = "yuv8";
					reg = <0x62>;
					is-prim-ser;
				};
				ser_g: max9295_a@40 {
					compatible = "maxim,max9295";
					reg = <0x40>;
					nvidia,gmsl-dser-device = <&dserc>;
				};
				ser_h: max9295_b@60 {
					compatible = "maxim,max9295";
					reg = <0x60>;
					nvidia,gmsl-dser-device = <&dserc>;
				};
				cam_6: imx390@16 {
					reg = <0x16>;
					reg_mux = <6>;	
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA194_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_g>;
					nvidia,gmsl-dser-device = <&dserc>;
				};
				cam_7: imx390@17 {
					reg = <0x17>;
					reg_mux = <7>;	
					clocks = <&bpmp_clks TEGRA194_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA194_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_h>;
					nvidia,gmsl-dser-device = <&dserc>;
				};
			};

		};
	};
};
