/*
 * Copyright (c) 2018-2021, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
#include <t234-common-modules/tegra234-camera-imx390-a00_otocam.dtsi>
#include "dt-bindings/clock/tegra234-clock.h"


#define CAM0_PWDN	TEGRA234_MAIN_GPIO(H, 6)
#define CAM1_PWDN	TEGRA234_MAIN_GPIO(AC, 0)
#define CAM2_PWDN	TEGRA234_MAIN_GPIO(H, 3)
#define CAM3_PWDN	TEGRA234_MAIN_GPIO(AC, 1)
#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)

/* camera control gpio definitions */

/ {
	i2c@3180000 {
		tca9543@72 {
			compatible = "nxp,pca9543";
			reg = <0x72>;
			#address-cells = <1>;
			#size-cells = <0>;
			skip_mux_detect = "yes";
			vif-supply = <&p3737_vdd_1v8_sys>;
			vcc-supply = <&p3737_vdd_1v8_sys>;
			vcc-pullup-supply = <&battery_reg>;
			force_bus_start = <CAMERA_I2C_MUX_BUS(0)>;
			i2c-mux-idle-disconnect;
			i2c@0 {
				reg = <0>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				i2c-mux-idle-disconnect;
				dser: max9296@48 {
					compatible = "maxim,max9296";
					streams = "yuv8";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					fsync-gpio = <6>; //fsync gpio on 9296
					reset-gpios = <&tegra_main_gpio CAM0_PWDN GPIO_ACTIVE_HIGH>;
				};
				ser_prim: max9295_prim@62 {
					compatible = "maxim,max9295";
					reg = <0x62>;
					is-prim-ser;
				};
				ser_a: max9295_a@40 {
					compatible = "maxim,max9295";
					reg = <0x40>;
					nvidia,gmsl-dser-device = <&dser>;
				};
				ser_b: max9295_b@60 {
					compatible = "maxim,max9295";
					reg = <0x60>;
					nvidia,gmsl-dser-device = <&dser>;
				};
				imx390isp_a@1b {
					reg = <0x1b>;
					
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_a>;
					nvidia,gmsl-dser-device = <&dser>;
				};
				imx390isp_b@1c {
					reg = <0x1c>;
					
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_b>;
					nvidia,gmsl-dser-device = <&dser>;
				};
			};
			i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				i2c-mux-idle-disconnect;
				dsera: max9296@48 {
					compatible = "maxim,max9296";
					//streams = "yuv8";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					reset-gpios = <&tegra_main_gpio CAM1_PWDN GPIO_ACTIVE_HIGH>;
                                        fsync-gpio = <6>; //fsync gpio on 9296
				};
				ser_prima: max9295_prim@62 {
					compatible = "maxim,max9295";
					//streams = "yuv8";
					reg = <0x62>;
					is-prim-ser;
				};
				ser_c: max9295_a@40 {
					compatible = "maxim,max9295";
					reg = <0x40>;
					nvidia,gmsl-dser-device = <&dsera>;
				};
				ser_d: max9295_b@60 {
					compatible = "maxim,max9295";
					reg = <0x60>;
					nvidia,gmsl-dser-device = <&dsera>;
				};
				imx390isp_c@1b{
					reg = <0x1b>;
						
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_c>;
					nvidia,gmsl-dser-device = <&dsera>;
				};
				imx390isp_d@1c {
					reg = <0x1c>;
						
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_d>;
					nvidia,gmsl-dser-device = <&dsera>;
				};
			};

		};
		tca9543@73 {
			compatible = "nxp,pca9543";
			reg = <0x73>;
			#address-cells = <1>;
			#size-cells = <0>;
			skip_mux_detect = "yes";
			vif-supply = <&p3737_vdd_1v8_sys>;
			vcc-supply = <&p3737_vdd_1v8_sys>;
			vcc-pullup-supply = <&battery_reg>;
			force_bus_start = <CAMERA_I2C_MUX_BUS(2)>;
			i2c-mux-idle-disconnect;
			i2c@0 {
				reg = <0>;
				i2c-mux,deselect-on-exit;
				address-cells = <1>;
				#size-cells = <0>;
				i2c-mux-idle-disconnect;
				dserb: max9296@48 {
					compatible = "maxim,max9296";
					//streams = "yuv8";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					reset-gpios = <&tegra_main_gpio CAM2_PWDN GPIO_ACTIVE_HIGH>;
                                        fsync-gpio = <6>; //fsync gpio on 9296
				};
				ser_primb: max9295_prim@62 {
					compatible = "maxim,max9295";
					//streams = "yuv8";
					reg = <0x62>;
					is-prim-ser;
				};
				ser_e: max9295_a@40 {
					compatible = "maxim,max9295";
					reg = <0x40>;
					nvidia,gmsl-dser-device = <&dserb>;
				};
				ser_f: max9295_b@60 {
					compatible = "maxim,max9295";
					reg = <0x60>;
					nvidia,gmsl-dser-device = <&dserb>;
				};
				imx390isp_e@1b {
					reg = <0x1b>;
					
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_e>;
					nvidia,gmsl-dser-device = <&dserb>;
				};
				imx390isp_f@1c {
					reg = <0x1c>;
					
					/* Define any required hw resources needed by driver */
					/* ie. clocks, io pins, power sources */
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_f>;
					nvidia,gmsl-dser-device = <&dserb>;
				};
			};
			i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				i2c-mux-idle-disconnect;
				dserc: max9296@48 {
					compatible = "maxim,max9296";
					//streams = "yuv8";
					reg = <0x48>;
					csi-mode = "2x4";
					max-src = <2>;
					reset-gpios = <&tegra_main_gpio CAM3_PWDN GPIO_ACTIVE_HIGH>;
                                        fsync-gpio = <6>; //fsync gpio on 9296
				};
				ser_primc: max9295_prim@62 {
					compatible = "maxim,max9295";
					//streams = "yuv8";
					reg = <0x62>;
					is-prim-ser;
				};
				ser_g: max9295_a@40 {
					compatible = "maxim,max9295";
					reg = <0x40>;
					nvidia,gmsl-dser-device = <&dserc>;
				};
				ser_h: max9295_b@60 {
					compatible = "maxim,max9295";
					reg = <0x60>;
					nvidia,gmsl-dser-device = <&dserc>;
				};
				imx390isp_g@1b {
					reg = <0x1b>;
					
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_g>;
					nvidia,gmsl-dser-device = <&dserc>;
				};
				imx390isp_h@1c {
					reg = <0x1c>;
					
					clocks = <&bpmp_clks TEGRA234_CLK_EXTPERIPH1>,
							<&bpmp_clks TEGRA234_CLK_EXTPERIPH1>;
					clock-names = "extperiph1", "pllp_grtba";
					mclk = "extperiph1";
					nvidia,gmsl-ser-device = <&ser_h>;
					nvidia,gmsl-dser-device = <&dserc>;
				};
			};

		};
	};
};
